
Development.xcconfig
Production.xcconfig
.env

all.txt

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.xccheckout
*.moved-aside
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
REFACTORING_PLAN.md

# SwiftPM
.build/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace